#loginContainer {
	background: url("https://images.fastcompany.net/image/upload/w_562,ar_16:9,c_fill,g_auto,f_auto,q_auto,fl_lossy/fc/3065828-poster-p-1-how-playing-competitive-volleyball-taught-me-the-key-to-in.jpg") no-repeat;
	background-size: cover;
	height: 100%;
	text-align: center;
	/*display: -webkit-box;*/
	/*margin-top: 50px;*/
	/*padding: 80px;*/
	/*max-height: min-content;*/
}

#loginContainer > div{
	padding-top: 10%;
}

#firebaseui_container > div {
	background-color: rgba(222,169,58,0.34);
}